.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 20px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
}

.link-container {
  padding: 10px; /* Add some padding around the links */
  transition: background-color 0.3s ease; /* Transition effect for the background color change */
}

.link-container:hover {
  background-color: #4caf50; /* Background color of the box when hovered */
}

.link-container a {
  color: #000; /* Initial color of the links */
}

.link-container:hover a {
  color: #fff; /* Color of the links when the box is hovered */
}
